<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd" bootstrap="../../../app/bootstrap.php">
    <testsuites>
        <testsuite name="smaex/sitemap-excludes">
            <directory>
                Test
            </directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>
                Plugin
            </directory>
        </whitelist>
    </filter>
</phpunit>
